@import "tailwindcss";

:root {
  /* Primary Color */
  --trust-blue: #005566;
  /* Secondary Color */
  --healing-teal: #02a9a6;
  /* Background Color */
  --clean-white: #f5f7fa;
  /* Text Color */
  --slate-gray: #4a5e6d;
  /* Dark: Background Color */
  --dark-navy: #1a2a44;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* REMOVE SCROLLBAR */
/* 1. Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}
/* 2. Firefox */
html {
  scrollbar-width: none;
}
/* 3. IE/Edge (legacy) */
body {
  -ms-overflow-style: none;
}

/* HIDE SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
